body { 
  background: #FFC0CB; 
  font-family: 'Lato', sans-serif; 
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: auto; 
  text-align:center; 
 
}

header {
	background-color:#808080;
    max-height: 10%;
    width:100%;
}
header::after {
  content: '';
  display: inline-block;
  width: 100%;
}
ol{
  padding: 0;

}

.Imm{
  margin: auto;
  max-width: 90%;
  border-radius: 10px;
  border: 2px solid #313236;
}

.spis{
  margin: auto;
  width: 100%;
}

.Linkstyle a{
  text-decoration: none;
  color: #313236;
  margin: auto;
}

.logo  {
  margin: auto;
}

.bran {
  display: none;
}

#pan1{
  margin: 2%;
  display: flex;
}

#pan2{
  text-align: center;
  display: flex;
  flex-direction: column;
}
nav {
  flex: 1;
  order:1;
}

.navi{
  border-radius: 10px;
	background-color:#808080;
}

nav a {
  color: #aaa;
  font-size: 17px;
  padding: 5px 10px;
  text-decoration: none;
  display: flex;
  width: 100px;
}

nav a:hover {
  color: yellow;
}

main{
  border-radius: 10px;
  flex:3;
  order: 2;
  background: #313236;
  margin-left: 5%;
}

table {
  border-spacing: 0;
  max-width: 90%;
  empty-cells: hide;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius:5px;
}

td {
  padding: auto;
  text-align: center;
  border: 1px solid white;
}

td:first-child {
  text-align: left;
  color: white;
  font-weight: bold;
}

th {
  padding: auto;
  background-color: grey;
  color: black;
  border: 1px solid white;
}

td:nth-child(even) {
  background: #0000FF;
  color:white;
  
}

td:nth-child(odd) {
  font-size:20px;
  background: grey;
  color:black;
}

th:nth-child(even) {
  background: 	#0000FF;
  color: white;
}

footer { 
  text-align: center;
      border-top: 7px solid black;
      padding-top: 5px;
      margin-top: 50px;
      padding-bottom: 10px;
      background-color: #808080;
      color: black;
  } 

li {
  list-style-type: none;
}
.spis{
  order: 1;
}
.form{
  order: 2;
}
table{
  order:3;
}


/*....IPads*/
@media only screen 
and (min-width : 550px) 
 {
  .bran {
    display: flex;
   text-align: left;
    color: white;
  font-size: 25px; 
  }
	  #logo  {
      margin-top: 2%;
    max-width: 100px;
    max-height:100px;
	 flex: 2;
     order: 1;
  float:left;
    }
  #pan1{
    margin: 0;
    text-align: center;
    flex-direction: column;
  }
#pan2{
    flex-direction: column;
}
#Imm{
    width: 100%;
    max-width: 350px;
}
.forma1{
    margin: auto;
    width: 100%;
    max-width: 500px;
    order: 3;
}
.forma{
    margin: auto;
    width: 100%;
    max-width: 500px;
    order: 2;
    margin-bottom: 2%;
}
table{
    order:1;
}
main{
    padding: auto;
    margin: auto;
    margin-bottom: 5px;
    width: 90%;
    max-width: 500px;
    height: 50%;
}
#Linkstyle{
    display: flex;
}
.navi{
    text-align: center;
    background-color: pink;
    width: auto;
    height: auto;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#navbar a {
    display: inline-block;
}
table {
    width: 500px;
    height: 300px;
    border-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
}
th{
    font-weight: bold;
}
td {
    padding: auto;
    text-align: center;
    border: 1px solid #795200fd;
}
	
}

	 nav a {
     display: inline-block;
	 }
  
/*....Desktops*/
@media only screen 
and (min-width : 1224px) {
	 .logo  {
     padding: 0px;
	 margin: 10px;
	 width: 100px;
	 height:auto;
	float:left;
	
}

 .bran {
   height: auto;
	text-align: left;
	 color: rgb(228, 172, 172);
    font-size: 25px;
	
}
.navi {
	text-align: center;
	background-color: grey;
	margin: 30px;
	
}

nav  a { 
	font-weight: bold;
	color: rgb(145, 235, 227);
	margin: 20px;
	font-size: 18px;
	text-decoration: none;
 }
 header{
   height: auto;
   padding: 0px;
 }
}
